.step1.s-1 {
  bottom: 73vh;
  left: 3vw;
}

.step2.s-1 {
  bottom: 70.77vh;
  left: 6.22vw;
  rotate: 6.85deg;
}

.step3.s-1 {
  bottom: 66.96vh;
  left: 9.82vw;
  rotate: 4.38deg;
}

.step4.s-1 {
  bottom: 67.34vh;
  left: 15.7vw;
  rotate: -9.65deg;
}

.step5.s-1 {
  bottom: 65vh;
  left: 20vw;
}

.step1.a-1 {
  bottom: 86vh;
  left: 15vw;
}

.step2.a-1 {
  bottom: 81.45vh;
  left: 18.46vw;
  rotate: -12.08deg;
}

.step3.a-1 {
  bottom: 78.92vh;
  left: 21.4vw;
  rotate: -12.68deg;
}

.step4.a-1 {
  bottom: 72.03vh;
  left: 28.68vw;
  rotate: 2.2deg;
}

.step5.a-1 {
  bottom: 65vh;
  left: 27vw;
}

.step1.l {
  bottom: 80vh;
  left: 28vw;
}

.step2.l {
  bottom: 81.18vh;
  left: 31.2vw;
  rotate: -12.62deg;
}

.step3.l {
  bottom: 78.14vh;
  left: 33.98vw;
  rotate: -13.36deg;
}

.step4.l {
  bottom: 70.65vh;
  left: 32.38vw;
  rotate: 8.22deg;
}

.step5.l {
  bottom: 65vh;
  left: 32vw;
}

.step1.u {
  bottom: 85vh;
  left: 43vw;
}

.step2.u {
  bottom: 83.7vh;
  left: 38.23vw;
  rotate: 12.85deg;
}

.step3.u {
  bottom: 77.3vh;
  left: 39.77vw;
  rotate: -10.49deg;
}

.step4.u {
  bottom: 75.64vh;
  left: 36.58vw;
  rotate: 0.76deg;
}

.step5.u {
  bottom: 65vh;
  left: 36.5vw;
}

.step1.t {
  bottom: 83vh;
  left: 58vw;
}

.step2.t {
  bottom: 81.2vh;
  left: 58.92vw;
  rotate: 1deg;
}

.step3.t {
  bottom: 79.84vh;
  left: 53.44vw;
  rotate: -5.42deg;
}

.step4.t {
  bottom: 72.7vh;
  left: 45.02vw;
  rotate: -3.99deg;
}

.step5.t {
  bottom: 65vh;
  left: 43vw;
}

.step1.excl {
  bottom: 83vh;
  left: 68vw;
}

.step2.excl {
  bottom: 76.88vh;
  left: 65.64vw;
  rotate: -15.37deg;
}

.step3.excl {
  bottom: 70.37vh;
  left: 63.66vw;
  rotate: -2.25deg;
}

.step4.excl {
  bottom: 66.83vh;
  left: 58.65vw;
  rotate: 13.13deg;
}

.step5.excl {
  bottom: 65vh;
  left: 48.5vw;
}

.step1.a-2 {
  bottom: 76vh;
  left: 80vw;
}

.step2.a-2 {
  bottom: 74.79vh;
  left: 70.33vw;
  rotate: 6.18deg;
}

.step3.a-2 {
  bottom: 70.45vh;
  left: 60.69vw;
  rotate: 13.06deg;
}

.step4.a-2 {
  bottom: 72.57vh;
  left: 51.31vw;
  rotate: -3.47deg;
}

.step5.a-2 {
  bottom: 65vh;
  left: 60vw;
}

.step1.i {
  bottom: 68vh;
  left: 92vw;
}

.step2.i {
  bottom: 64.85vh;
  left: 87.04vw;
  rotate: 2.75deg;
}

.step3.i {
  bottom: 64.6vh;
  left: 84.1vw;
  rotate: -6.3deg;
}

.step4.i {
  bottom: 59.28vh;
  left: 76.42vw;
  rotate: 8.93deg;
}

.step5.i {
  bottom: 65vh;
  left: 66vw;
}

.step1.s-2 {
  bottom: 37vh;
  left: 12vw;
}

.step2.s-2 {
  bottom: 36.82vh;
  left: 15.16vw;
  rotate: -16.71deg;
}

.step3.s-2 {
  bottom: 35.15vh;
  left: 18.23vw;
  rotate: 2.01deg;
}

.step4.s-2 {
  bottom: 38.96vh;
  left: 25.24vw;
  rotate: -0.95deg;
}

.step5.s-2 {
  bottom: 43vh;
  left: 27vw;
}

.step1.e {
  bottom: 20vh;
  left: 25vw;
}

.step2.e {
  bottom: 24.02vh;
  left: 31.02vw;
  rotate: -12.93deg;
}

.step3.e {
  bottom: 25.16vh;
  left: 36.29vw;
  rotate: -10.81deg;
}

.step4.e {
  bottom: 31.41vh;
  left: 36.92vw;
  rotate: 6.71deg;
}

.step5.e {
  bottom: 43vh;
  left: 33vw;
}

.step1.a-3 {
  bottom: 35vh;
  left: 38vw;
}

.step2.a-3 {
  bottom: 38.58vh;
  left: 39.38vw;
  rotate: 2.11deg;
}

.step3.a-3 {
  bottom: 38.52vh;
  left: 41.42vw;
  rotate: 11.92deg;
}

.step4.a-3 {
  bottom: 42.93vh;
  left: 39.39vw;
  rotate: 9.1deg;
}

.step5.a-3 {
  bottom: 43vh;
  left: 39vw;
}

.step1.r {
  bottom: 6vh;
  left: 56vw;
}

.step2.r {
  bottom: 17.21vh;
  left: 54.27vw;
  rotate: -8.35deg;
}

.step3.r {
  bottom: 29.5vh;
  left: 54.56vw;
  rotate: 1.91deg;
}

.step4.r {
  bottom: 39.08vh;
  left: 51.03vw;
  rotate: 17.36deg;
}

.step5.r {
  bottom: 43vh;
  left: 45.5vw;
}

.step1.c {
  bottom: 26vh;
  left: 67vw;
}

.step2.c {
  bottom: 29.86vh;
  left: 59.66vw;
  rotate: 10.85deg;
}

.step3.c {
  bottom: 37.33vh;
  left: 59.72vw;
  rotate: 10.55deg;
}

.step4.c {
  bottom: 44.13vh;
  left: 53.88vw;
  rotate: 17.95deg;
}

.step5.c {
  bottom: 43vh;
  left: 51.5vw;
}

.step1.h {
  bottom: 37vh;
  left: 86vw;
}

.step2.h {
  bottom: 41.62vh;
  left: 76.35vw;
  rotate: -9.26deg;
}

.step3.h {
  bottom: 40.07vh;
  left: 71.62vw;
  rotate: 17.57deg;
}

.step4.h {
  bottom: 37.73vh;
  left: 63.89vw;
  rotate: 19.47deg;
}

.step5.h {
  bottom: 43vh;
  left: 58vw;
}
