@font-face {
  font-family: 'Marker';
  src: url('./assets/fonts/Marker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Marker', sans-serif;
  background-color: black;
}
